In [16]:
import pandas as pd
import numpy as np 
import joblib
from pipeline import pipeline
grid = joblib.load('models/model.pkl')
vectorizer = joblib.load('models/vectorizer.pkl')

In [17]:
df = pd.read_csv('data/cleanData.csv')
df = df['clean_text'].to_frame()
df.rename(columns={'clean_text':'tweet'},inplace=True)
pipe = pipeline(df)
X = pipe.returnX(vectorizer)
df = pipe.returnDf()
y = grid.predict(X)
df['suspicion'] = y

In [18]:
df[['tweet','suspicion']]

                                                  tweet  suspicion
0     To a GREAT Friend amp Kind Heart here are ALL ...          1
1     remember when Syracuse was a football blue blo...          0
2     Syracuse orange autograph floyd little jersey ...          1
3     RT  Legends GOAT SYRACUSE Csonka Little Coughl...          1
4     RT  Legends GOAT SYRACUSE Csonka Little Coughl...          1
...                                                 ...        ...
4403  RT  Hey Baking friendsWHY  FORK LINES IN PEANU...          1
4404  RT  Hey Baking friendsWHY  FORK LINES IN PEANU...          1
4405  Hey Baking friendsWHY  FORK LINES IN PEANUTBUT...          1
4406  Rawr Check out these adorable costumes Hallowe...          0
4407  cosibellanail cosibellanailspa shelbytownship ...          0

[4408 rows x 2 columns]

In [19]:
frame = pd.read_csv('data/cleanData.csv',index_col=0)
frame.drop_duplicates(['text','date'],inplace=True)
print(len(frame))
frame = frame.merge(df[['tweet','suspicion']],how='inner',left_on='clean_text',right_on='tweet')
frame.drop_duplicates(['text','date'],inplace=True)
print(len(frame))

4408
4408

In [20]:
frame.to_csv('data/results.csv')

In [21]:
frame = frame[['text','hashtags','websites','phone_numbers','area_code','state','country_code','lat','lng','suspicion']]
frame

,text,hashtags,websites,phone_numbers,area_code,state,country_code,lat,lng,suspicion
0,"To a GREAT Friend &amp; Kind Heart, here are A...",#WakeUpCall #FloydLittle #Little #Syracuse #Cu...,https://t.co/Ho2RA8efJ2 https://t.co/1RrhcB4016,NaN,NaN,NaN,NaN,NaN,NaN,1
1,remember when #Syracuse was a football blue bl...,#Syracuse #brown #mcnabb #graves #morris #czon...,https://t.co/qzZS0jwaG4,NaN,NaN,NaN,NaN,NaN,NaN,0
2,#Syracuse #orange #autograph #floyd #little #j...,#Syracuse #orange #autograph #floyd #little #j...,https://t.co/40pmQZGC8j,NaN,NaN,NaN,NaN,NaN,NaN,1
3,RT @FloppZilla: Legends! #GOAT #SYRACUSE #Cson...,#GOAT #SYRACUSE #Csonka #Little #Coughlin #Boe...,https://t.co/OBohpJXpdM,NaN,NaN,NaN,NaN,NaN,NaN,1
7,RT @FloppZilla: Legends! #GOAT #SYRACUSE #Cson...,#GOAT #SYRACUSE #Csonka #Little #Coughlin #Boe...,https://t.co/OBohpJXpdM,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...
23867,RT @TramontaneCafe: Hey! #Baking friends:WHY ...,#Baking #PEANUTBUTTER #COOKIES?! #fun!)#Brocco...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
23869,RT @TramontaneCafe: Hey! #Baking friends:WHY ...,#Baking #PEANUTBUTTER #COOKIES?! #fun!)#Brocco...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
23871,Hey! #Baking friends:WHY FORK LINES IN #PEANU...,#Baking #PEANUTBUTTER #COOKIES?! #fun!)#Brocco...,https://t.co/ivfOVHDhEJ,NaN,NaN,NaN,NaN,NaN,NaN,1
23872,Rawr!!! Check out these adorable costumes! #Ha...,#Halloween #Spooky #Cute #Adorable #Children #...,https://t.co/miJ2faH9bv,NaN,NaN,NaN,NaN,NaN,NaN,0
23873,#cosibellanail #cosibellanailspa #shelbytownsh...,#cosibellanail #cosibellanailspa #shelbytownsh...,https://t.co/IR9zlFMFPN,NaN,NaN,NaN,NaN,NaN,NaN,0